<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Marvel App</a>
    </div>
    <ul class="nav navbar-nav">
      <li class={"active": (data.path === "/characters")}>
        <a href="/characters">Characters</a>
      </li>
    </ul>
  </div>
</nav>
