<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Marvel App</a>
    </div>
    <ul class="nav navbar-nav">
      <li
        id="spf-navbar-characters"
        class={"active": (data.path.slice(0, "/characters".length) === "/characters")}
      >
        <a href="/characters" class="spf-link">Characters</a>
      </li>
    </ul>
  </div>
</nav>
