{
  "extends": "eslint:recommended",

  "env": {
    "browser": true,
    "node": true
  },

  "globals": {
    "Promise": true
  },

  "rules": {
    "semi": [2, "always"],
    "quotes": [2, "single"],
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-console": 0
  }
}
