<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a href="http://marvel.com" target="_blank">Data provided by Marvel. © 2016 MARVEL</a>
      </div>
      <div class="col-md-6">
        <a href="https://github.com/nicolashery/example-marvel-app" target="_blank">View on GitHub</a>
      </div>
    </div>
  </div>
</footer>
