<a href="/characters" class="spf-link">Back to characters list</a>
<div class="page-header">
  <h1>${data.character.name}</h1>
</div>
<character-details({character: data.character})/>
<marvel-attribution({
  attributionText: data.attributionText
})/>
