<div class="list-group">
  <for(comic in data.comics)>
    <a href=('/comics/' + comic.id) class='spf-link list-group-item'>
      <h4 class="list-group-item-heading">${comic.title}</h4>
    </a>
  </for>
</div>
