<layout-use("../layout.marko")>
  <layout-put into="content">
    <characters-list({
      characters: data.characters
    })/>
    <marvel-attribution({
      attributionText: data.attributionText
    })/>
  </layout-put>
</layout-use>
