<layout-use("../../layout.marko", Object.assign({
  pageTitle: "Error"
}, data))>
  <layout-put into="content">
    <div class="page-header">
      <h1>Error</h1>
    </div>
    <if(data.stack)>
      <pre>${data.stack}</pre>
    </if>
    <else>
      <p>An unexpected error occured.</p>
      <p>${data.message}</p>
    </else>
  </layout-put>
</layout-use>
