<layout-use("../../layout.marko", Object.assign({
  pageTitle: "Error"
}, data))>
  <layout-put into="content">
    <div class="page-header">
      <h1>Error</h1>
    </div>
    <p>An unexpected error occured.</p>
    <p>${data.message}</p>
  </layout-put>
</layout-use>
