<layout-use("../../layout.marko", Object.assign({
  pageTitle: "Not Found"
}, data))>
  <layout-put into="content">
    <div class="page-header">
      <h1>Not found</h1>
    </div>
    <p>We couldn't find what you were looking for.</p>
  </layout-put>
</layout-use>
