<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>${data.pageTitle ? data.pageTitle +  '| Marvel App' : 'Marvel App'}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href=out.global.staticPath("/css/vendor.css")>
    <link rel="stylesheet" href=out.global.staticPath("/css/app.css")>
  </head>
  <body>
    <main-navigation path=out.global.path/>
    <div id="spf-content" class="container">
      <layout-placeholder name="content"/>
    </div>
    <main-footer/>
    <script src=out.global.staticPath("/js/vendor.js")></script>
    <script src=out.global.staticPath("/js/app.js")></script>
    <browser-refresh/>
  </body>
</html>
